# Python / Django
__pycache__/
*.py[cod]
*.pyo

# Virtualenv
.venv/
env/
venv/

# Django local artifacts
db.sqlite3
media/
staticfiles/

# IDE / OS
.vscode/
.idea/
.DS_Store

# Secrets / env
.env
.env.*

# Local folders to ignore
junior-markets/
